{% extends 'auctions/layout.html' %} {% block title %} Categories | {{ title
}}{% endblock %} {% block body %}

<h1 class="h3 mb-4 text-gray-800">{{ category.name }}</h1>
<div class="row">
  {% for listing in listings %}
  <div class="col-md-4 mb-4">
    <div class="card">
      {% if listing.image_set.first %}
      <img
        src="{{ listing.image_set.first.image.url }}"
        class="card-img-top"
        alt="{{ listing.title }}"
      />
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ listing.title }}</h5>
        <p class="card-text">{{ listing.description|truncatewords:20 }}</p>
        <p class="card-text">
          <strong>Current Price: ${{ listing.current_price }}</strong>
        </p>
        <a href="{% url 'listing' listing.id %}" class="btn btn-primary"
          >View Listing</a
        >
      </div>
    </div>
  </div>
  {% empty %}
  <p>No active listings in this category.</p>
  {% endfor %}
</div>
{% endblock %}
