{% extends "auctions/layout.html" %} {% block body %}
<h2>Listings in {{ category.name }}</h2>
{% if listings %}
<div class="row">
  {% for listing in listings %}
  <div class="col-md-4 mb-4">
    <div
      class="card"
      style="height: 100%; width: 75%; display: flex; justify-content: center"
    >
      <div
        class="card-img-top-wrapper"
        style="overflow: hidden; display:flex, justify-content:center; position:relative"
      >
        {% if listing.main_image %}
        <img
          src="{{ listing.main_image.url }}"
          class="card-img-top img-fluid"
          alt="{{ listing.title }}"
          style="object-fit: cover; height: 100%; width: 100%"
        />
        {% elif listing.image_url %}
        <img
          src="{{ listing.image_url }}"
          class="card-img-top img-fluid"
          alt="{{ listing.title }}"
          style="object-fit: cover; height: 100%; width: 50%"
        />
        {% else %}
        <div
          class="no-image-placeholder"
          style="
            height: 100%;
            background-color: #f8f9fa;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>No Image Available</span>
        </div>
        {% endif %}
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ listing.title }}</h5>
        <p class="card-text flex-grow-1">
          {{ listing.description|truncatewords:20 }}
        </p>
        <p class="card-text">
          <strong>Current Price: ${{ listing.current_price }}</strong>
        </p>
        <a href="{% url 'listing' listing.id %}" class="btn btn-primary mt-auto"
          >View Listing</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>No active listings in this category.</p>
{% endif %} {% endblock %}
